# figma-managed npm registry config start
@ceridianhcm:registry=https://registry.figma.com/npm/f314e32d-2fc6-4d5a-9df5-1d10d432b9dd/registry/
@make-kits:registry=https://registry.figma.com/npm/f314e32d-2fc6-4d5a-9df5-1d10d432b9dd/registry/
# figma-managed npm registry config end
